<h3>Home Component</h3>
<p>Welcome to Angular Seed</p>
<button (click)="etendCourbe(-1, 'years')">A-1</button>
<button (click)="etendCourbe(-1, 'months')">M-1</button>
<button (click)="etendCourbe(1, 'months')">M+1</button>
<button (click)="etendCourbe(1, 'years')">A+1</button>
<chart type="StockChart" [options]="options" (load)="saveInstance($event.context)"></chart>
<div *ngIf="errorCount > 0">
  {{errorCount}} errors detected
</div>
<label><input type="checkbox" [ngModel]="afficherCourbe" (change)="toto(afficherCourbe)">Afficher courbe</label>
